@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

body {
	padding-bottom: 40px;
}

.hide {
	display: none;
}

#spinner {
    background: transparent url("../images/ajax_loader_blue_128.gif") top
        left no-repeat;
    width: 128px;
    height: 128px;
    position: absolute;
    top: 20%;
    left: 33%;
    z-index: 1; /* make it appear in front */
}

.dropdown {
	display: inline-block;
}

.header-controls .controls {
	text-align: right
}

h4.modal-title {
	text-transform: capitalize;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.jstree-children:before,.jstree-node:before {
    /* clearfix for jsTree's elements*/ 
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* Attempt to fix jsTree in some browsers.  jsTree uses "white-space: nowrap;" */
.jstree-node {
	white-space: normal !important;
}

/* begin styles for file tree node extra columns */
span.extras {
    display: inline-block;
    float: right;
    white-space: nowrap;
    position: relative;
}

.jstree-default .jstree-node{
    padding:5px 0;
}
.jstree-children {
    margin-top:5px !important;
}
.jstree-children li:last-child, .jstree-open.shadedBackground{
    padding-bottom:0;
}
.jstree-node.jstree-last.jstree-closed, .jstree-node.jstree-leaf.jstree-last {
    padding-bottom:3px;
}

.jstree-anchor {
    color: #0088cc !important;
    font-weight: bold;
}

a.jstree-anchor {
    width:50%;
    overflow: hidden; 
    text-overflow:ellipsis;
}

span.extras>span {
    display: block;
}

span.shareButtonColumn {
    float: left;
    min-width: 80px;
}

span.addMenuButtonColumn {
    float:left;
    min-width: 47px;
	margin-right:5px;
}

span.unshareAndDeleteButtonColumn {
    float: left;
    text-align: center;
    min-width: 60px;
}

small.metaData {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    padding-right:5px;
    text-overflow: ellipsis;
    width: 200px;
}

small.metaData .muted:before {
    content: " - "
}
/* end styles for file tree node extra columns */

/* begin styles for file tree node shaded background */
div#fileTree ul {
	background-color: #ffffff;
}

.shadedBackground {
	background-color: #eeeeee !important;
}
/* end styles for file tree node shaded background */
