@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

.indent1 {
	padding-left: 10px;
}

.indent2 {
	padding-left: 20px;
}

.modified_by {
	font-size: .7em;
	color: #AAA;
}

table {
	background-color: #ffffff;
}

.large-text {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 20px;
}

.hide {
	display: none;
}

#spinner {
	background: transparent url("../images/ajax_loader_blue_128.gif") top
		left no-repeat;
	width: 128px;
	height: 128px;
	position: absolute;
	top: 20%;
	left: 33%;
}

.dropdown {
	display: inline-block;
}

.itemLink {
	display: block;
	float: left;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.itemLink:hover {
	text-decoration: none;
	cursor: pointer
}

.expandShrink {
	padding: 0 5px;
	display: block;
	width: 2%;
	float: left;
}

.expandShrink:hover {
	font-weight: bold;
	cursor: pointer
}

.header-controls .controls {
	text-align: right
}

.expandShrink:hover,.expandShrink:focus {
	text-decoration: none
}

h4.modal-title {
	text-transform: capitalize;
}

tr.searchNonResult {
	display: none !important;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.jstree-children:before,.jstree-node:before {
    /* clearfix for jsTree's elements*/ 
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* Attempt to fix jsTree in some browsers.  jsTree uses "white-space: nowrap;" */
.jstree-node {
	white-space: normal !important;
}

/* begin styles for file tree node extra columns */
span.extras {
    display: inline-block;
    float: right;
    white-space: nowrap;
    
}

.jstree-default .jstree-node{
    padding:5px 0;
}
.jstree-children {
    margin-top:5px !important;
}
.jstree-children li:last-child, .jstree-open.shadedBackground{
    padding-bottom:0;
}
.jstree-node.jstree-last.jstree-closed, .jstree-node.jstree-leaf.jstree-last {
    padding-bottom:3px;
}
.jstree-container-ul li:hover {
    background:#ffe !important;
}
.jstree-container-ul li.shadedBackground:hover {
    background:#ddd !important;
}
.jstree-anchor {
    color:#08c !important;
    font-weight:bold;
}
.jstree-anchor:hover,.jstree-anchor:focus, .js-tree-default .jstree-hovered {
    color:#005580 !important;
    background:none !important;
}
a.jstree-anchor {
    width:40%;
    overflow: hidden; 
    text-overflow:ellipsis;
}

span.extras>span {
	display: block;
}

span.shareButtonColumn {
	float:left;
    min-width: 80px;
}

span.addMenuButtonColumn {
    float:left;
    min-width: 47px;
}

span.unshareAndDeleteButtonColumn {
    float:left;
    min-width: 50px;
}
small.metaData {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    padding-right:5px;
    text-overflow: ellipsis;
    width: 200px;
}
/* end styles for file tree node extra columns */

/* begin styles for file tree node shaded background */
div#fileTree ul {
	background-color: #ffffff;
}

.shadedBackground {
	background-color: #eee !important;
}
/* end styles for file tree node shaded background */
